body {
    font-family: Arial;
    text-align: center;
    background: #222;
    color: white;
}

.box {
    margin: 20px;
}

input {
    padding: 10px;
    width: 250px;
}

button {
    padding: 10px;
    cursor: pointer;
}

#result {
    margin-top: 20px;
    background: #333;
    padding: 20px;
    display: inline-block;
    border-radius: 10px;
}